# App Configuration
OIDC_NAME=ory-hydra
OIDC_CLIENT_ID=# run: openssl rand --hex 32
OIDC_CLIENT_SECRET=# run: openssl rand --hex 64
OIDC_SCOPES=openid email profile offline
OIDC_REDIRECT_URI=http://localhost:3000/callback
OIDC_AUTH_URI=http://localhost:4444/oauth2/auth
OIDC_TOKEN_URI=http://hydra:4444/oauth2/token
OIDC_API_URI=http://localhost:4445/admin/oauth2/introspect
PORT=3000

# Kratos Migration
KRATOS_MIGRATE_COOKIE_SECRET=# run: openssl rand --hex 32
KRATOS_MIGRATE_CSRF_COOKIE_SECRET=# run: openssl rand --hex 32

# Kratos
KRATOS_SECRETS_COOKIE=# run: openssl rand --hex 32
KRATOS_SECRETS_CIPHER=# run: openssl rand --hex 16

# Hydra
HYDRA_SECRETS_SYSTEM=# run: openssl rand --hex 32
HYDRA_OIDC_SUBJECT_IDENTIFIERS_PAIRWISE_SALT=# run: openssl rand --hex 32

# Base URL
SERVE_PUBLIC_BASE_URL=http://localhost:4433
SERVE_ADMIN_BASE_URL=http://localhost:4434
SELF_SERVICE_BASE_URL=http://localhost:4455
SELF_ISSUER_BASE_URL=http://localhost:4444

# SMTP
COURIER_SMTP_CONNECTION_URI=smtps://test:noreply@example.net:1025/?skip_ssl_verify=true